### 1. 載入csv檔案

In [10]:
q.rice=read.csv("../csv/乾隆台灣米價.csv", header=TRUE)

In [7]:
q.rice

     year Jan Feb  Mar  Apr  May  Jun  Jul  Aug   Set   Oct   Nov  Dec
1747   NA  NA   NA   NA   NA 1.50 1.30   NA    NA 1.250    NA 1.45 NA
1748 1.55 1.2   NA 1.70 1.55   NA   NA 1.76 1.920 1.800 1.840   NA NA
1749   NA  NA   NA   NA 2.00 1.65   NA 1.35    NA    NA    NA   NA NA
1751 1.35  NA   NA   NA   NA 1.30 1.35 1.35 1.425 1.450    NA 1.35 NA
1752 1.25  NA 2.35 1.90   NA   NA   NA   NA 1.775    NA    NA 1.65 NA
1753   NA  NA   NA   NA 1.85   NA 1.65   NA    NA    NA 1.600 1.25 NA
1754   NA  NA   NA   NA   NA 1.65   NA   NA 2.250 2.000 2.450 2.20 NA
1755   NA 2.6 2.35 2.40 2.05 2.25 1.60 1.55 1.600 1.650 1.700   NA NA
1756   NA 1.3 1.60 1.40   NA   NA 1.35 1.30 1.225    NA    NA   NA NA
1763   NA  NA 1.35   NA 1.30   NA   NA   NA    NA    NA    NA 1.32 NA
1764   NA 1.6 1.80 1.75   NA 1.65   NA 1.70    NA 1.625 1.750   NA NA
1765 1.70  NA   NA 1.55 1.65 1.65 1.60   NA    NA 1.650 1.400   NA NA
1767   NA  NA   NA   NA   NA   NA 1.50   NA 1.450 1.450 1.525   NA NA
1774   NA  NA   NA 1.50   NA 1.45   NA   NA    NA 1.450    NA   NA NA
1777   NA  NA   NA   NA 1.40   NA 1.45   NA    NA    NA    NA 1.40 NA
1778   NA  NA   NA   NA 1.35   NA 1.30   NA    NA 1.350 1.300   NA NA

### 載入Zoo套件

In [13]:
library(zoo)

In [ ]:
# 將空白值替換為NA
q.rice[q.rice == ""] <- NA

In [ ]:
# 轉換數據為數字
q.rice[, 2:13] <- apply(q.rice[, 2:13], 2, function(x) as.numeric(as.character(x)))


q.rice_filled[, 2:13] <- apply(q.rice[, 2:13], 2, function(x) na.approx(x, rule = 2))

在這裡，function(x) 是用來定義一個匿名函數（也叫無名函數或者內聯函數），意味著這個函數在定義時沒有給它指定一個名字。這樣可以讓你在調用 apply() 函數時直接定義並使用一個函數，而無需預先定義該函數並為其命名。

function(x) 的作用如下：接收一個名為 x 的參數，這個參數會在應用函數時自動替換為每一列的值。實現函數主體功能，這裡是將 x 轉換為字符（as.character(x)），然後將字符轉換為數字值（as.numeric）。
apply() 函數將該函數一列一列地應用到 q.rice[, 2:13]。在這種情況下，匿名函數（function(x)）允許我們方便地編寫和使用一個簡單的函數，而不需要編寫單獨的命名函數。這使得程式碼更簡潔，易於閱讀和理解。

In [ ]:
# 使用相鄰月份平均值填補空白值
q.rice_filled <- q.rice
q.rice_filled[, 2:13] <- apply(q.rice[, 2:13], 2, function(x) na.approx(x, rule = 2))
q.rice_mean <- data.frame(Year = q.rice_filled$year, Mean_Price = rowMeans(q.rice_filled[, 2:13], na.rm = TRUE))

In [ ]:
q.rice_mean